*.run
*.ext
__pycache__
output_*/
*.tcl
*.log
*.logm
*.sha
work/
.DS_store
*.so
*.pdf
*.gds
.cache
.local/
build/
work/lvs
work/gds
work/drc
work/xsch
*.raw
*.out
simulation/
docs/
*.html
/*_svg/
/*.svg/
/cdl/
*.vcd
results/
*_obj_dir/
